target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Local document storage (created by the app at runtime)
var/

.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.vscode/

.DS_Store
Thumbs.db
